main {
  margin-block: 64px;
}

.hero {
  display: flex;
  margin-inline: 64px;
}

.poster {
  width: 350px;
  border-radius: 12px;
}

.description {
  color: var(--color-tertiary);
  width: 600px;
}
